<% provide(:title, 'About') %>
<div class="container">
  <section class="main row">
    <aside class="col-xs-3">
    </aside>
    <article class="col-xs-9">
      <div class="page-header">
        <h1>このサイトについて</h1>
      </div>

      <h3>公開している情報</h3>
      <p>
        このサイトでは日本の歴代内閣総理大臣の一覧と、それぞれの総理大臣の概要情報を公開しています。記載している情報は<a href="http://www.kantei.go.jp/">首相官邸ホームページ</a>の「<a href="http://www.kantei.go.jp/jp/rekidai/index.html">内閣制度と歴代内閣</a>」を元にしています。
      </p>

      <h3>サイト作成の目的</h3>
      <p>
        このサイトは、作成者が<a href="http://rubyonrails.org/">Ruby on Rails</a>を利用したウェブサイトシステム開発の学習を目的に作成したものです。記載されいている情報の正確性は保証いたしませんのでご注意ください。正しい情報を確認したい方は、上記の<a href="http://www.kantei.go.jp/">首相官邸ホームページ</a>をご確認いただくようお願いします。
      </p>
    </article>
  </section>
</div>
