<% provide(:title, 'Contact') %>

<div class="container">
  <section class="main row">
    <aside class="col-xs-3">
    </aside>
    <article class="col-xs-9">
      <div class="page-header">
        <h1>お問い合わせ</h1>
      </div>

      <p>
        お問い合わせにつきましては、下記のTwitterアカウント宛てにメッセージをいただくか、ブログのコンタクトフォームよりご連絡をいただくようお願いいたします。また、本サイトのソースコードはGithubで公開しています。ご興味のある方はGithubのリポジトリをご参照ください。
      </p>

      <ul>
        <li>Twitter: <a href="https://twitter.com/succi0303">@succi0303</a></li>
        <li>ブログ: <a href="http://www.succi.jp/blog/">prime factor</a></li>
        <li>Github: <a href="https://github.com/succi0303/ministers">succi0303/ministers2</a></li>
      </ul>
    </article>
  </section>
</div>
