<div class="jumbotron">
  <div class="container">
    <h1>日本の総理大臣</h1>
    <p>このページでは日本の歴代総理大臣の情報を紹介しています。</p>
    <%= link_to '一覧を見る »', ministers_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
