/* universal */

section.main {
  margin-top: 51px; // accommodate navbar
  padding-bottom: 40px;
  width: 100%;
}

/* site-header */
div.navbar-header {
  a.navbar-brand {
    color: #fff;
    font-size: 1.2em;
  }
}

/* site-footer */
footer.site-footer {
  margin-top: 20px;
}

/* profile */
div.profile {
  padding-bottom: 30px;
}

/* article-footer */
footer.article-footer {
  border-top: 1px solid #e5e5e5;
  text-align: right;
  padding-top: 20px;
}

/* social-buttons */
ul#social-buttons {
  list-style: none;

  li {
    display: inline;
    margin: 0 5px 0 0;
    padding: 0;
  }
}
